*{
    margin: 0;
    padding: 0;
}

header img {
    float: left;
    width: 350px;
    height: 150px;
}

header {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.20);
    position: fixed;
    top: 6.9%;
    z-index: 5;
}
.header-top-bar-area {
    background-color: rgba(0, 0, 0, 0.20);
    position: fixed;
    text-align: center;
    width: 100%;
    top: 0;
}
.top-bar-field{
    float: left;
    text-decoration: none;
    color: #fff;
    font-weight: bolder;
    display: inline-block;
    margin-right: 1.5em;
    margin-top: 1.2em;
    text-shadow: 2px 2px 3px #000;

}
nav ul {
    text-align: center;
    float: left;
    width: 74%;
}

nav ul li {
    display: inline-block;
    font-size: 1.7em;
    margin-right: 1.5em;
    margin-top: 1.2em;
}

nav ul li:first-child {
    margin-left: 15%;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: bolder;
    text-shadow: 2px 2px 3px #000;
}

nav ul li a:hover {
    transition: 1s;
    color: rgb(232, 0, 0);
    text-shadow: 0 0 4px #000;
}

.title-header {
    color: #FFF;
    text-shadow: 2px 2px 2px #000;
    position: absolute;
    /*width: 30%;*/
    top: 2%;
    margin-left: 40%;
}
input:hover, textarea:hover, input:focus, textarea:focus {
    border-color: #000066;
    box-shadow: 5px 0px 9px #FFFF00;
    background-color: #66FFFF;
    color: black;
    font-weight: bold;
}
input {
  width: 100%;
}
input, textarea {
    color: black;
    -webkit-border-radius: 5px;
    border: 1px solid;
}
input[id="name"] {
  width: 100%;
  padding: 15px 30px;
  margin: 8px 0;
  box-sizing: border-box;

}
input[value="Enviar"] {
  background-color: green;
  border: none;
  color: black;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
  width: 20%;
  height: 20px;
}

textarea {
    width: 100%;
  padding: 15px 30px;
  margin: 8px 0;
  box-sizing: border-box;

}
textarea {
    width: 400px;
    height: 120px;
    line-height: 20px;
    max-width: 400px;
}
form label {
    margin-left: 10px;
    color: #FFFFFF;
    font-weight: bold;
}
input[value="Limpar"] {
  background-color: red;
  border: none;
  color: black;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
  width: 20%;
  height: 20px;
}
footer{
    position: absolute;
    background-color: rgba(0, 0, 0,0.90);
    width: 100%;
    height: 50vh;
    top: 164vh;
}
.title-aside {
    text-align: center;
    font-family: 'Armata', sans-serif;
    font-size: 1.7em;
    color: white;
    text-shadow: 2px 2px 2px #000;
    position: absolute;
    width: 90%;
    top: 35%;
    left: 2%;
    z-index: none;
}
.title-aside-div{
   font-family: 'Armata', sans-serif;
    font-size: 1.7em;
    color: red;
    text-shadow: 2px 2px 2px #000;
    position:absolute;
    width: 90%;
    margin-left: 5%;
    z-index: 2;
}

footer ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: bolder;
    text-shadow: 2px 2px 3px #000;

}

 footer ul li a:hover {
    transition: 1s;
    color: rgb(232, 0, 0);
    text-shadow: 0 0 4px #000;
}
.footer-widgets{
    top: 80vh;
}
.widget-title{
    color: aliceblue;
}
footer ul{
    margin-left: 3%;
    margin-top: 1%;
    font-size: 2.4em;
}
.widget-title{
    margin-left: 3%;
    margin-top: 5%;
    font-size: 2.9em;   
}
.icon{
    top: 0;
    margin-left: 95%;
    position: fixed;
}
.icon1{
    margin-left: -130%;
}
.icon2{
    margin-left: -130%;
}
.title-text{
margin-top: 15%;
}
strong{
    color: red;
}
.button{
    transition: 1s;
    color: blue
    text-shadow: 0 0 4px #000;   
}